<%#= debug @result %>
<!--<%= @amount %><br>
<%= @first_name %><br>
<%= @last_name %><br>
<%= @email %><br>
<%= @card_code %><br>
<%= @card_no %><br>
<%= @card_type %><br>
<%= @month %><br>
<%= @year %><br>
<%= @exp_date %>-->


<h2 style="color: green"><%= @res %></h2>
