<%#= debug video %>
<!-- ONE VIDEO -->
 <div id="videoCell" style="float:left; margin-left:20px;width: 320px;">
  <div class="video-user" url="<%=video.video_link%>" > 
    <div id="thumb-desc" >

      <div id="top-thumb-desc">
        <div id="top-like-box">
        </div>
        <div id="thumb-title" class="vid-text" >
         
          <% if (video.category == 'Lesson') %>
          
           <!--<a href="/show_lesson_video" title="Click to Visit Page">
            <%#=link_to (video.title), video %>
           </a>-->
           <%= link_to truncate(video.title, :length=>15), "/show_lesson_video/#{video.id}" %>
          <% else %>
            <!--<a href="/" title="Click to Visit Page">-->
            <%=link_to truncate(video.title, :length=>15), video%>
            <!--</a>-->
          <% end %>
          
          
        </div> 
        <div id="thumb-author" class="vid-text" >
          By <%=link_to video.user.username, video.user, :class=>"user_link"%>
        </div>
           
        <div id="thumb-category" class="vid-text" >
          <a href="#" title="Select Category" style="color:#C00; text-decoration:none;margin-bottom:10px">
          <%=video.category%>
        </a>
        </div>
        <div id="thumb-date" style="float:left;margin-top:15px"><%=time_ago_in_words(video.created_at)%> ago</div> 
      </div>
      <% if (video.category == 'Lesson') && (video.is_active == '1')  %>
        <% if is_signed_in_this? video.user %>
         <%= javascript_include_tag "flowplayer/flowplayer.js"%>
         <div class="flowplayer"  data-ratio="0.4167" style="width:320px;height:210px;">
             <video>
                <source type="video/mp4" src="<%= video.lesson_upload %>">
             </video>
          </div>
        <% else %>
          <script>
            $( document ).ready(function() {
              $('.non_user').removeClass('is-loading');
            });
          </script> 
          <div class="flowplayer non_user" id="flow_<%= video.id %>" data="flowplayer.swf" style="width:320px;height:210px;">
            <video>
	      <source type="video/mp4" src="<%= video.lesson_upload %>">
              
	   </video>
	</div>
        <% end %> 
      <% else %>
       <a id="thumb-plays" title="Click To Play"><%=image_tag 'play_button.png'%> </a>
      <% end %>
    <div id="bot-thumb-desc" style="z-index: 999;">

      <div id="thumb-tags" class="vid-text" >
       
        <% if (video.category == 'Lesson') && (video.is_active == '1')  %>
              <div id="price_tag">Price:<span> <%= link_to video.price, "/show_lesson_video/#{video.id}" %> $</span></div>
        <% end %>   
            
            
            
            
        <%video.tags.limit(2).each do |tag|%>
          <%= link_to truncate(tag.name, :length=>10), videos_path(tag: tag.name), :id=>"tag-"%>
        <%end%>
      </div> 
      
      <div id="thumb-stats" >
        <ul id="stats-top"> 
          <li class="views" style="float:left;width:40px; list-style-type:none;"><%=video.impressionist_count%></li>
          <li class="views" style="float:left;width:65px; list-style-type:none;"><%=video.comments.count%></li>
          <li class="views" style="float:left;width:40px;list-style-type:none;"><%=video.reputation_for(:votes).to_i%></li>
        </ul>
        <ul id="stats-bot"> 
          <li class="views" style="float:left;width:40px; list-style-type:none;">VIEWS</li>
          <li class="views" style="float:left;width:65px; list-style-type:none;">COMMENTS</li>
          <li class="views" style="float:left;width:40px;list-style-type:none;">VOTES</li>
        </ul>
      </div>   
    </div>
  </div>
  </div>
  <%=image_tag 'shadow-bottom.jpg', :style=> "margin-top:0px"%>
  <% if is_signed_in_this? video.user %>
   <% if (video.category != 'Lesson') %>
    <div id='vid-controle-btns'>
      <div class='btn-group'>
        <%= link_to 'Edit', edit_video_path(video), class: 'btn' %>
        <%= link_to 'Delete', video, :confirm => 'Are you sure?', method: :delete, class: 'btn btn-danger' %>
      </div>      
    </div>
   <% else %>
    <div id='vid-controle-btns'>
      <div class='btn-group'>
        <%= link_to 'Delete', video, :confirm => 'Are you sure?', method: :delete, class: 'btn btn-danger' %>
      </div>      
    </div>
   <% end %>
  <% end %>
</div>
 <!--This is how we getting URL--><!-- END -->